/* CSS RESETERS */
html, body, h1, section, header, div, button{
	margin: 0;
	padding: 0;
}

img{
	border: none;
}
/* MAIN STYLES */
body{
	background: url('../images/main-background.gif');
	font-size: 14px;
	font-family: "Segoe UI",Tahoma,arial,sans-serif;
}

label{
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 1.5em;
	display: block
}

#mainSocialContainer{
	width: 400px;
	height: 230px;
	margin: 50px auto;
	background: #fff;
	border: 1px solid #a6a6a6;
	border-radius: 10px;
}
	#socialTitle{
		width: 100%;
		height: 50px;
		background: #4c4c4c;
		border-radius: 8px 8px 0 0;
	}
		#socialTitle h1{
			font-weight: normal;
			font-size: 24px;
			text-align: center;
			line-height: 45px;
			color: #f9fafe;
		}
	.socialContainer{
		float: left;
		width: 102px;
		height: 102px;
		margin: 40px 0 0 22px;
		cursor: pointer;
		background: url('../images/social-icons.png') no-repeat;
		border: none;
		opacity: 0.5;
	}
	#facebook{
		background-position: -8px -3px;
	}
	#twitter{
		background-position: -116px -3px;
	}
	#gplus{
		background-position: -229px -3px;
	}

#wrapper{
	width: 960px;
	margin: 0 auto;
}
#header{
	width: 100%;
	height: 50px;
	background-color: #4c4c4c;
	border-radius: 0 0 10px 10px;
}
#mainContentContainer{
	width: 100%;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #a6a6a6;
	border-radius: 10px;
}
#user{
	float: right;
	display: inline-block;
	height: 35px;
	margin-top: 7px;
	padding: 0 40px 0 10px;
	background: #959595 url('../images/user.png') no-repeat 100% 100%;
	color: #fff;
	line-height: 35px;
	border-radius: 3px;
}
#logOut{
	float: right;
	margin: 8px;
}
	#logOut span{
		display: inline-block;
		width: 32px;
		height: 32px;
		background: url('../images/exit.png') no-repeat;
	}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
#login{
	margin: 50px 80px;
}
#submit{
	margin-left: 13em;
}